{% extends 'base.html' %}
{% load static %}

{% block content %}

	<section class="banner-inside-pg">
		<img src="{% static 'website/images/banner-about.jpg' %}" alt="" title="">
	</section><!-- ./banner-home end -->
	
	<section class="banner-bottom-conts inside-pg" style="text-align: justify;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h2 class="moveUp h2-f26 in-view">About Indra Kumar</h2>
					
					<p class="moveUp in-view">Indra Kumar is an authorised insurance Advisor, business strategist, saving Planner with deep expertise in insurance sector.</p>
					<p class="moveUp in-view">Indra Kumar is also a CLIA Membership hopder in LIC. He Provides consultation for both individuals and groups for saving strategies and helped many people to choose the best investments and insurance for them. He is also a Registered Mutual Funds advisor and parteerend with popular Brands.</p>
				</div><!-- ./col -->
			</div><!-- ./row -->
			
			<div class="row margin-0 fontcolor">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                <div class="Npink-box">
						<p class="moveUp">Indra Kumar’s intention is to help you and your organization evolve and flourish through:</p>
						<ul class="moveUp">
							<li>Detailed case analyses</li>
							<li>Internal and external communication strategies that drive change and get results</li>
							<li>Consultation and investment direction </li>
						</ul>
					</div>
				</div><!-- ./col -->
			</div><!-- ./row -->

			<div class="row about-Img-block">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="insid-imageBar">
						<div class="lftBar hdTp-15">
						    <h2 class="align-leftT moveUp">IK Rajoris’s Background</h2>
							<p class="moveUp">Before joining insurance sector in 2002, Indra Kumar had a career in Gemstone marketing. In Gemstone Marketing and as a expert in designing and in moulding a peice in any shape, Indra Kumar managed diverse design initiatives and developed a unique product to support their companies growth.</p>
							<p class="moveUp">He is an expert in suggesting the Life Insurance, Health Insurance, Term Insurance, Children Education Plans, Endowment Plans and Investment needs in ever-changing global economy.</p>
						</div>	
						<div class="ritBar"><p class="moveUp about-Img"><img src="{% static 'website/images/about-img01.jpg' %}" alt="" title=""></p></div>
					</div>
						
                    <p class="moveUp">Indra Kumar is also have vast experience of more than 18+ years in investment and consultancy services, he is well placed to help you to choose the best investments and insurance consultancy services with personalised investment strategies that create sustainable wealth for Salaried, Business Owners etc.</p>
                    <p class="moveUp">Indra Kumar's intention is to help the Self-employed, salaried, students, businessmen, professionals, housewives, Government employees and retired people in order to save  for their future.</p>

                    <p class="moveUp">A certified Insurance Advisor since 2002, Indra Kumar offers his services for Life insurance, Helth insurance, Medical Insurance, Vehicle Insurance, Mutual Funds and in SIP Investment.</p> 
					
				</div><!-- ./col -->
			</div><!-- ./row -->
			
		</div><!-- ./container -->
	</section><!-- ./banner-bottom-conts end -->

	{% endblock %}
	