{% extends 'base.html' %}
{% load static %}

{% block content %}
	
	<section class="banner-inside-pg">
		<img src="{% static 'website/images/consult.jpg' %}" alt="" title="">
	</section><!-- ./banner-home end -->
	
	<section class="banner-bottom-conts inside-pg testimonials-pg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h2 class="moveUp turquoise-col h2-f26 in-view">Consulting</h2>
					<p class="bold pHead-newColr moveUp in-view" style="text-align:justify;">Insurance provides peace of mind, assuring you that life’s unpredictability is manageable.But insurance itself can cause stress: being underinsured or overinsured, complex exemptions, and which policy is right for you and your budget are all things that can make reassurance turn to headaches and head scratching. IK Rajoria Consulting can help you find a forward-thinking, practical policy for any of your insurance needs. We offer free, no-obligation insurance consultation services to help you find a policy that meets your unique needs.</p>
				</div><!-- ./col -->
			</div><!-- ./row -->
			
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<p class="moveUp bold para-top25 pHead-newColr in-view" style="text-align:justify;"><a href="contact.html">IK Rajoria Consulting </a> understands that no policy is one-size-fits-all, and adequate insurance is acquirable only through knowing what protections you need. Partnering with our professional, knowledgeable independent agents empowers you to make insurance decisions that are informed and satisfactory for your individual needs.</p>
					<p class="moveUp bold para-top25 pHead-newColr in-view"><a href="contact.html">IK Rajoria consultation</a> services are available for both individual and business insurance policies.</p>
					<p class="moveUp bold para-top25 pHead-newColr in-view"><b>The wide range of insurance coverage we can consult you and/or your organization on include, but are not limited to:</b></p>
					<ul class="moveUp">
						<li> <a href="life.html"> Life Insurance </a></li>
						<li><a href="general_insurance.html"> General Insurance</a></li>
						<li><a href="contact.html"> Medical</a></li>
						<li><a href="contact.html"> Financial Services</a></li>
						<li><a href="sip.html"> Mutual Funds & SIP Consultation</a></li>
					</ul>
					
					<p class="moveUp bold para-top25 pHead-newColr">IK Rajoria consulting <a href="contact.html">staff</a> have brillient minds, they all are:</p>
					<ul class="moveUp">
						<li>Experienced</li>
						<li>Competent</li>
						<li>Risk Management Experts</li>
					</ul>
					
										
					<h2 class="moveUp align-leftT pHead-newColr padUpd comp-difPad"><a href="contact.html">IK Rajoria Consulting: Your Insurance Partner</a></h2>
					
					<p class="moveUp turquoise-col bold changes-fonts24 margin2tb">Consult not your fears but your hopes and your dreams.</p>
					
					<p class="moveUp bold para-top25 pHead-newColr" style="text-align:justify;"><a href="contact.html">IK Rajoria Consulting's</a> loyalty lies only with those we serve, not any insurance provider. Our Insurance has no profit-driven connections to any one policy provider, meaning you’ll receive fair, accurate, uncompromised assistance in choosing an insurance coverage that fulfills your individual needs. Partnering with IK Rajoria Consulting means you have access to the entire insurance market. We can advise you in who, what and how your insurance needs can be satisfied, helping you identify the perfect policy and carrier.</p>
					
					
				</div><!-- ./col -->
			</div><!-- ./row -->
			
			

		</div><!-- ./container -->

	</section>

	{% endblock %}