{% extends 'base.html' %}
{% load static %}

{% block content %}	
	<section class="banner-inside-pg">
		<img src="{% static 'website/images/general.jpg' %}" alt="" title="">
	</section><!-- ./banner-home end -->
	
	<section class="banner-bottom-conts inside-pg clients-pg" style="text-align: justify;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h2 class="moveUp turquoise-col h2-f26 in-view">General Insurance</h2>
					<p class="bold pHead-newColr moveUp in-view" style="text-align:justify;">While life insurance still remains a priority for most people, general insurance policies are not far behind. Owing to the risks posed by natural calamities, diseases, medical emergencies, and accidents, general insurance covers is something that can provide a blanket of financial protection from them.</p>

					<p class="bold pHead-newColr moveUp in-view" style="text-align:justify;">Accidents and misfortunes cannot be predicted, but it is in our hands to make sure that we are prepared. That is why investing in the right general insurance covers is something that should be on the top of your to-do list.</p>
				</div><!-- ./col -->
			</div><!-- ./row -->
			
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					
					<p class="moveUp bold para-top25 pHead-newColr in-view">
					<b>What are general insurance covers?</b>
					<br/><br>
					Any non-life insurance policy can come under the purview of general insurance. These policies are not as long drawn as life insurance ones and are mostly applicable for a period of 1 year. The most common ones among these general insurance covers are:
				    </p>
					<ul class="moveUp">
						<li>Health insurance</li>
						<li>Motor insurance</li>
						<li>Travel insurance</li>
						<li>Home insurance</li>
						
					</ul>
					
										
					<p class="moveUp bold para-top25 pHead-newColr">Let us now take a look at each of these general insurance covers and their importance.</p>
					<p class="moveUp bold turquoise-col pHead-newColr"><b>Health insurance</b></p>
					<p class="moveUp bold pHead-newColr in-view">
					Health insurance is a general insurance cover that provides protection against various surgical and medical expenses incurred by the insured person. In fact, in recent years, health insurance has been customized to fit the needs of patients with specific illnesses (e.g. cancer patients, people with diabetes, etc.).
					<br/><br>
					Some of the benefits that come with this general insurance cover include cashless treatment, pre and post hospitalization benefits, etc.
				    </p>

				    <p class="moveUp bold turquoise-col pHead-newColr"><b>Motor insurance</b></p>
					<p class="moveUp bold pHead-newColr in-view">
					For car owners, this general insurance cover is the most crucial one. Since accidents can happen at any point of time, motor insurance can make sure that you are covered for all the damages that your vehicle might cause or incur.
					<br/><br>
					Motor insurance is widely categorized into two types - for the car and for two-wheelers. Also, getting your vehicle insured is mandatory under the Motor Vehicles Act of 1988.
				    </p>

				    <p class="moveUp bold turquoise-col pHead-newColr"><b>Home insurance</b></p>
					<p class="moveUp bold pHead-newColr in-view">
					Your home is surely among your most valuable possessions, which is why you must ensure that it is secured with a home insurance policy. This general insurance cover provides protection for your home and its contents from various natural and man-made perils that might befall it.
					<br/><br>
					Natural disasters like fire, lightning, earthquake, floods, storm, and hurricanes are unpredictable risks that can cause extensive damage to your house. The same can be said for man-made calamities like strikes, riots, etc. A home insurance policy ensures protection for your home in the event of such disasters.
				    </p>
					
					<p class="moveUp bold turquoise-col pHead-newColr"><b>Travel insurance</b></p>
					<p class="moveUp bold pHead-newColr in-view">
					Traveling is an inevitable part of life, and so are the risks associated with it. That is why having a travel insurance cover is essential regardless of whether you travel domestically or internationally.
					<br/><br>
					Travel insurance provides coverage against emergencies while traveling, accidental death, loss of baggage, flight cancellation/delay and the likes. Therefore, there’s no downplaying the role of travel insurance on your travels.
				    </p>
					
				</div><!-- ./col -->
			</div><!-- ./row -->
			

		</div><!-- ./container -->
	</section><!-- ./banner-bottom-conts end -->
	 {% endblock %}