{% extends 'base.html' %}
{% load static %}
{% block content %}
	
		<section class="banner-home">
			<img src="{% static 'website/images/banner-home.jpg' %}" alt="" title="" >
			<div class="bannerText">Helping Individuals Flourish & Savings</div>			
		</section><!-- ./banner-home end -->
	
	<section class="banner-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				   <ul>
				   	 <li>Consultation</li>
				   	 <li>Life Insurance</li>
				   	 <li>General Insurance</li>
				   	 <li>Mutual Funds & SIPs</li>
				   </ul>
				</div><!-- ./col -->
			</div><!-- ./row -->
		</div><!-- ./container -->
	</section><!-- ./banner-bottom end -->

</div>	
	
	<section class="banner-bottom-conts incresFont">
		
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h2 class="moveUp">SIP and Mutual Funds</h2>
					<ul class="moveUp m-top20">
						<li>Can invest in a wider varieties and take advantage of professional money management</li>
						<li>SIP is a very easy & convenient mode of making investments in mutual funds on a regular basis</li>
						<li>SIP allows one to cultivate a habit of savings & creating wealth for the future by starting early.</li>
					</ul>
					<p class="moveUp changes-fonts24 decreseFont">Life & General Insurance</p>
					<ul class="moveUp m-top20 turquoise-col">
						<li>It is very crucial to have a complete understanding of the value a life.</li>
						<li>With a view to providing certain relief to applicant and their dependent.</li>
						<li>It is necessory for everyone to take care of our health in changing lifestyles.</li>
					</ul>
				</div><!-- ./col -->
			</div><!-- ./row -->
		</div><!-- ./container -->
	</section><!-- ./banner-bottom-conts end -->
	
	<section class="what-Clients-Say">
		<div class="container">
			<h3 class="moveUp">What Customer say</h3>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 div-line">
					<p class="moveUp">The Policies suggested by Indra Kumar gave me good return with time. My Mutual funds are also performing well.</p>
				</div><!-- ./col -->
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 div-line">
					<p class="moveUp">Indra Kumar is exceptional, both in his energy and in the quality of his consultation.</p>
				</div><!-- ./col -->
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 div-line">
					<p class="moveUp">I called all the people whom i knew as Indra Kumar is an expert in giving consultation for savings, life and general insurance.</p>
				</div><!-- ./col -->
			</div><!-- ./row -->
			<!-- <p class="btn-cont moveUp"><a href="https://alicehoganconsulting.com/testimonials.html">View More</a></p> -->
		</div><!-- ./container -->
	</section><!-- ./what-Clients-Say end -->
	
	{% endblock %}